h1, h2, h3, h4, h5, h6 {
	margin: 20px;
	padding: 0px;
}

li.active{
	background-color: #004d40;
}

#login {
	padding: 30px;
}

footer.no-margin-top {
	margin-top: 0px;
}

label {
    width: 100%;
}
label:after {
    -moz-transition-property: all !important;
    -o-transition-property: all !important;
    -webkit-transition-property: all !important;
    transition-property: all !important;
    font-size: 0.8rem;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
}

label:not(.active):after {
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}

@media only screen and (min-width: 992px){
	form{
		margin-bottom: 100px;
	}
}
