<!-- Scripts -->
<script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="../libs/Materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$(".button-collapse").sideNav();
	});
</script>
