.flex-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-work {
    margin: .1em;
    margin-top: .3em;
    padding: 0;
}

.state-work {
    font-size: 1.5em;
    margin: .1em;
}

.name-file {
    margin: 2em;
    text-align: center;
}

.button-file {
    margin: 2em;
}

.cancelar {
    width: 300px;
    margin: .75rem;
}

.send {
    width: 300px;
    margin: .75rem;
}

.input-field p {
    display: block;
    width: 100px;
}


/* Para pantallas medianas */
@media only screen and (min-width: 600px){

    .title {
		justify-content: space-between;
	}

    .add {
        margin: 2em;
    }

    .flex-form {
		justify-content: space-between;
		flex-direction: row;
	}

    .flex-text-buttom {
        align-items: flex-end;
    }

    .flex-button {
        justify-content: space-around;
    }

    .title-work {
        margin: 2rem;
        height: 54px;
        vertical-align:bottom;
    }

    .state-work {
        font-size: 1.5em;
        margin: 2rem;
        height: 54px;
        vertical-align: baseline;
    }


    .name-file {
        width: 300px;
        text-align: left;
    }

    .cancelar {
        margin: 1.5rem;
    }

    .send {
        margin: 1.5rem;
    }

}

/* Para pantallas grandes */
@media only screen and (min-width: 992px){

	h1, h2, h3, h4, h5, h6 {
		margin: 10px;
	}

	.container {
		width: 85%;
	}

    .cancelar {
        margin: 3rem;
    }

    .send {
        margin: 3rem;
    }

}
