<meta charset="utf-8">
<title>Fotocop</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="/libs/Materialize/dist/css/materialize.min.css" />
<link rel="stylesheet" href="/errors/styles/full-height-main.css" />
<link rel="icon" type="image/png" href="/images/favicon.png" />