<header>
  <nav class="teal">
    <div class="container">
      <div class="nav-wrapper">
        <a href="works_user.html" class="brand-logo">Fotocop</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="login.html">Iniciar Sesión</a></li>
          <li><a href="registration.html">Registrarse</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="registration.html">Registrarse</a></li>
          <li><a href="login.html">Volver</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
